
body {
    color: #333940;
    background: #f4f4f4;
    direction: rtl;
}
#logo {
	float: right;
}
#nav {
	float: left;
}
#bleeder {
    right:0px;
}
#header {
    margin-right:80px;
    margin-left:0;
}

/* LAYOUT */
.post .date, .quote .date, .bookmark .date {
	float: right;
	padding: .3em .4em .3em 1.2em;
	background: #c14040;
	margin: 0.3em -5.6em  0 0em;
	width: 3.8em;
}
.post .teaser{ border-bottom: solid 1.0em #333940;}

/* TYPE */
h4{ color: #333940;}
#right-rail p, #right-rail ul{ color: #333940;}

/* LINKS */
a:link, a:visited {
    color: #c14040;
}
a:hover { color: #333; }
h2 a:link, h2 a:visited{ color: #c14040;}
h2 a:hover { color: #333;}

pre{ color: #333940; background-color: #ccc;}

#footer {direction: ltr; text-align:center;}
/* COMMENTS */
ul.comments {border-bottom: thin solid; padding:0.5em;}
.comments li {border-top: thin dashed; padding:0.5em;}
.comments a {padding-left:2em; font-weight:bold;}
li.comments p {padding-top:0.5em; padding-bottom:0.5em;}

form.comment th {text-align:right; vertical-align:top; padding-left:3em;}
form.comment td {vertical-align:bottom; padding-bottom:0.5em;}
