{% load blog tagging_tags inlines oembed_tags pygment_tags i18n %}

<div class="post clearfix">
  <div class="date">{{ post.publish|date:"M d" }}</div>
  <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
  <p class="teaser">{{ post.tease|safe }}</p>
    <div class="body">
  {% oembed %}
    {{ post.body_markup|render_inlines|pygmentize|safe }}
  {% endoembed %}
    </div>
    <h3><a href="{{ post.get_absolute_url }}#comments">{% trans "Comments" %}</a></h3>
</div>
<!-- post -->
